<div *ngIf="screen==false" class="card background">
  <div class="card-header">

  </div>
  <div class="card-body square">
    <blockquote class="blockquote mb-0">

      <div class="alert alert-warning" role="alert" *ngIf="tablaPosiciones.length == 0">
        El torneo no tiene equipos asociados
      </div>
      <div *ngIf="tablaPosiciones.length > 0 ">
        <div style="text-align: center;font-size: x-large">
          tabla de posiciones torneo:
          <div style="font-size: xx-large">
            <b>
              {{tablaPosiciones[0].fkTorneo.nombre}}
            </b>
          </div>
        </div>
        <p style="text-align: center"></p>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Equipo</th>
              <th scope="col">PJ</th>
              <th scope="col">PG</th>
              <th scope="col">PP</th>
              <th scope="col">PE</th>
              <th scope="col">GF</th>
              <th scope="col">GE</th>
              <th scope="col">GD</th>
              <th scope="col">PTS</th>
            </tr>
          </thead>
          <tbody>



            <tr *ngFor="let tablaPosicion of tablaPosiciones| filter:filterPost">
              <th>{{tablaPosicion.fkEquipo.nombre}}</th>
              <td>{{tablaPosicion.partidosJugados}}</td>
              <td>{{tablaPosicion.partidosGanados}}</td>
              <td>{{tablaPosicion.partidosPerdidos}}</td>
              <td>{{tablaPosicion.partidosEmpatados}}</td>
              <td>{{tablaPosicion.golesFavor}}</td>
              <td>{{tablaPosicion.golesContra}}</td>
              <td>{{tablaPosicion.golesDiferencia}}</td>
              <td><span style="background-color: rgb(203, 246, 84);">+{{tablaPosicion.puntos}}</span></td>

            </tr>

          </tbody>
        </table>
      </div>

    </blockquote>
  </div>
</div>

<!-- responsive para celulares -->
<div style="justify-content: center" *ngIf="screen==true">
  <div class="card background ">
    <div class="card-header">
      <div class="alert alert-warning" role="alert" *ngIf="tablaPosiciones.length == 0">
        El torneo no tiene equipos asociados
      </div>
      <div *ngIf="tablaPosiciones.length > 0 ">
        <div style="text-align: center;font-size: x-large">
          tabla de posiciones torneo:
          <div style="font-size: xx-large">
            <b>
              {{tablaPosiciones[0].fkTorneo.nombre}}
            </b>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="tablaPosiciones.length > 0 " class="card" style="width: auto; text-align: center;margin: 0rem">
      <div class="card-body">
        <table class="table table-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Equipo</th>
              <th scope="col">PJ</th>
              <th scope="col">PG</th>
              <th scope="col">PP</th>
              <th scope="col">PE</th>
              <th scope="col">GF</th>
              <th scope="col">GE</th>
              <th scope="col">GD</th>
              <th scope="col">PTS</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let tablaPosicion of tablaPosiciones| filter:filterPost">
              <th>{{tablaPosicion.fkEquipo.nombre}}</th>
              <td>{{tablaPosicion.partidosJugados}}</td>
              <td>{{tablaPosicion.partidosGanados}}</td>
              <td>{{tablaPosicion.partidosPerdidos}}</td>
              <td>{{tablaPosicion.partidosEmpatados}}</td>
              <td>{{tablaPosicion.golesFavor}}</td>
              <td>{{tablaPosicion.golesContra}}</td>
              <td>{{tablaPosicion.golesDiferencia}}</td>
              <td><span style="background-color: rgb(203, 246, 84);">+{{tablaPosicion.puntos}}</span></td>

            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>