<div class="card background ">
  <div class="card-header">

    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <a class="btn btn-primary" [routerLink]="['/registro-equipo']">Registrar equipos</a>
        </div>
        <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
      </div>
    </form>
  </div>
  <div class="card-body square">
    <blockquote class="blockquote mb-0">

      <div class="alert alert-warning" role="alert" *ngIf="equipos.length == 0">
        no existe información relacionada
      </div>


      <div *ngIf="equipos.length > 0 ">
        <div style="text-align: center;font-size: xx-large">
          <b>EQUIPOS</b>
        </div>
        <table class="table">
          <thead class="thead-dark">
            <tr>

              <th scope="col">Nombre</th>
              <th scope="col">Locación</th>
              <th scope="col">Genero</th>
              <th scope="col">Torneo</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let equipo of equipos | filter:filterPost">

              <th>{{equipo.nombre}}</th>
              <td>{{equipo.locacion}}</td>
              <td>{{equipo.genero}}</td>
              <td><span style="background-color: rgb(203, 246, 84);">{{equipo.fkTorneo.nombre}}</span></td>

              <td>
                <a href="/Jugadores/{{equipo.codigo}}" class="btn btn-success btn-lg" style="margin-right: 1rem"><i
                    class="fas fa-futbol"></i>Jugadores</a>
                <a (click)="showPopupUpdate(equipo)" data-toggle="modal" data-target="#myModalUpdate"
                  class="btn btn-primary btn-lg" style="margin-right: 1rem; color: cornsilk"><i
                    class="fas fa-edit"></i></a>
                <button (click)="showPopup(equipo)" type="button" class="btn btn-danger btn-lg" data-toggle="modal"
                  data-target="#myModal"><i class="fas fa-trash-alt"></i></button>

              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </blockquote>
  </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Eliminar</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        ¿Está seguro que desea eliminar la información?

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button (click)="delete()" type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
      </div>

    </div>
  </div>
</div>

<!-- The Modal update -->
<div class="modal fade" id="myModalUpdate">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header update -->
      <div class="modal-header">
        <h4 class="modal-title">update</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <!-- Modal body update-->
      <div class="modal-body">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Nombre del equipo</label>
          <input type="text" minlength="3" required [(ngModel)]="equipo.nombre" class="form-control" id="name"
            name="name" #name="ngModel" placeholder="nombre">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">locación del equipo</label>
          <input type="text" minlength="5" required [(ngModel)]="equipo.locacion" class="form-control" id="location"
            name="location" placeholder="locacion" #location="ngModel">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">genero</label>
          <select class="form-control" [(ngModel)]="equipo.genero" id="genero" name="genero" #genero="ngModel"
            placeholder="genero" required>
            <option value="masculino" selected>masculino</option>
            <option value="femenino" selected>femenino</option>
          </select>
        </div>

      </div>
      <div *ngIf="name.invalid || location.invalid || genero.invalid " class="alert alert-danger">

        <div>
          Todos Los campos son necesarios
        </div>
      </div>

      <div *ngIf="name.valid && location.valid  && genero.valid">
        <div class="modal-footer">
          <button (click)="update()" type="button" class="btn btn-primary" data-dismiss="modal">Atualizar</button>
        </div>

      </div>

    </div>
  </div>
</div>