<div class="card background">
  <div class="card-header">
    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <a class="btn btn-primary" [routerLink]="['/registro-jugador/']">Registrar jugador</a>
        </div>
        <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
      </div>
    </form>
  </div>
  <div class="card-body square">
    <blockquote class="blockquote mb-0">

      <div class="alert alert-warning" role="alert" *ngIf="jugadores.length == 0">
        no existe información relacionada
      </div>
      <div *ngIf="jugadores.length > 0 ">
        <div style="text-align: center;font-size: xx-large">
          <b>JUGADORES</b>
        </div>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Identificacion</th>
              <th scope="col">fecha de nacimiento</th>
              <th scope="col">Equipo</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>



            <tr *ngFor="let jugador of jugadores| filter:filterPost">
              <th>{{jugador.nombre}}</th>
              <td>{{jugador.identificacion}}</td>
              <td>{{jugador.fechaNacimiento | date:'dd-MM-yyyy ':'+0900'}}</td>
              <td><span style="background-color: rgb(203, 246, 84);">{{jugador.fkEquipo.nombre}}</span></td>

              <td>
                <a (click)="showPopupUpdate(jugador)" class="btn btn-primary btn-lg"
                  style="margin-right: 1rem; color: cornsilk" data-toggle="modal" data-target="#myModalUpdate"><i
                    class="fas fa-edit"></i></a>
                <button (click)="showPopup(jugador)" type="button" class="btn btn-danger btn-lg" data-toggle="modal"
                  data-target="#myModal"><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </blockquote>
  </div>
</div>



<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Eliminar</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        ¿Está seguro que desea eliminar la información?

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button (click)="delete()" type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
      </div>

    </div>
  </div>
</div>


<!-- The Modal update -->
<div class="modal fade" id="myModalUpdate">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header update -->
      <div class="modal-header">
        <h4 class="modal-title">update</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <div class="modal-body">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Nombre del jugador</label>
          <input type="text" minlength="3" required [(ngModel)]="jugador.nombre" class="form-control" id="name"
            name="name" #name="ngModel" placeholder="nombre">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">identificacion</label>
          <input type="number" minlength="5" min="0" required [(ngModel)]="jugador.identificacion" class="form-control"
            id="cc" name="cc" #cc="ngModel" placeholder="identificacion">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">fecha de nacimiento</label>
          <input type="date" [(ngModel)]="jugadorDate.fechaNacimiento" class="form-control" id="calendar"
            name="calendar" #calendar="ngModel" placeholder="fecha" required>
        </div>



      </div>
      <div *ngIf="name.invalid || cc.invalid || calendar.invalid || cc.value<0" class="alert alert-danger">
        <div>
          Todos Los campos son necesarios
        </div>
        <div *ngIf="cc.value < 0">
          La cedula no puede contener un numero negativo
        </div>
      </div>

      <div *ngIf="name.valid   && cc.valid  && calendar.valid && cc.value >= 0">
        <div class="modal-footer">
          <button (click)="update()" [routerLink]="['/Equipos']" type="button" class="btn btn-primary"
            data-dismiss="modal">Atualizar</button>
        </div>

      </div>

    </div>
  </div>
</div>