<nav class="navbar navbar-expand-lg navbar-light menu">

  <a class="navbar-brand " [routerLink]="['/Home']"><i class="icon-Pilae pilae"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ">
      <a class="nav-item nav-link" [routerLink]="['/Home']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLink]="['/Torneos']" routerLinkActive="active">Torneos</a>
      <a class="nav-item nav-link" [routerLink]="['/Equipos']" routerLinkActive="active">Equipos</a>
      <div style="padding-left: 60rem">
        <a  class="nav-item nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
        
      </div>
      <a  class="nav-item nav-link" [routerLink]="['/login']" routerLinkActive="active">register</a>
      
    </div>
  </div>
</nav>