<div class="jumbotron background">
  <div class="transparency">
    <h3 class="title">BIENVENIDO a <i class="icon-Pilae pilae"></i></h3>
    
    <hr class="my-4">
    
  
  <h3>Pilae permite: </h3>
</div>
  <ul class="list-group list-group-flush table">
    <li class="list-group-item">Crear Nuevos Torneos</li>
    <li class="list-group-item">Consultar los Torneos</li>
    <li class="list-group-item">Actualizar los Torneos</li>
    <li class="list-group-item">Eliminar los Torneos</li>
  </ul>


</div>