<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/Torneos']">Torneos</a></li>
        <li class="breadcrumb-item active" aria-current="page">update</li>
    </ol>
</nav>


<div class="card">
    <div class="card-header">
        Actualizar Torneo
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Favor diligenciar el formulario</p>
            <!-- <form> -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Nombre del torneo</label>
                    <input type="text" minlength="3" required [(ngModel)]="torneo.nombre" class="form-control" id="name"
                        name="name" #name="ngModel" placeholder="nombre">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">descripción</label>
                    <input type="text" minlength="5" required [(ngModel)]="torneo.descripcion" class="form-control"
                        id="descripcion" name="descripcion" #descripcion="ngModel" placeholder="descripcion">
                </div>

            </div>
            <div *ngIf="name.invalid || descripcion.invalid" class="alert alert-danger">
                <div>
                    Todos Los campos son necesarios
                </div>
            </div>

            <div *ngIf="name.valid && descripcion.valid">
                <button (click)="update()" [routerLink]="['/Torneos']" type="button"
                    class="btn btn-primary">Actualizar</button>
                <button [routerLink]="['/Torneos']" type="button" class="btn btn-primary"
                    style="margin-left: 1rem">Cancelar</button>
            </div>


            <!-- </form> -->

        </blockquote>
    </div>
</div>