<div class="card background">
  <div class="card-header">
    <form class="form-inline">
      <div class="input-group">
      </div>
    </form>
  </div>
  <div class="card-body square">
    <blockquote class="blockquote mb-0">

      <div class="marcador">
        <p>MARCADOR</p>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">{{marcador.fkPartido.fkEquipoLocal.nombre}}</th>
              <th scope="col">{{marcador.fkPartido.fkEquipoVisitante.nombre}}</th>

            </tr>
            <th scope="col">{{marcador.equipoLocalMrc}}</th>
            <th scope="col">{{marcador.equipoVisitanteMrc}}</th>
          </thead>

        </table>

      </div>

    </blockquote>
  </div>
</div>