<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/Equipos']">Torneos</a></li>
        <li class="breadcrumb-item active" aria-current="page">crear</li>
    </ol>
</nav>


<div class="card">
    <div class="card-header">
        Actualizar jugador
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Favor diligenciar el formulario</p>
            <!-- <form> -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Nombre del jugador</label>
                    <input type="text" minlength="5" required [(ngModel)]="jugador.nombre" class="form-control"
                        id="name" name="name" #name="ngModel" placeholder="nombre">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">identificacion</label>
                    <input type="number" minlength="5" required [(ngModel)]="jugador.identificacion"
                        class="form-control" id="cc" name="cc" #cc="ngModel" placeholder="identificacion">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">fecha de nacimiento</label>
                    <input type="date" [(ngModel)]="jugadorDate.fechaNacimiento" class="form-control" id="calendar"
                        name="calendar" #calendar="ngModel" placeholder="fecha" required>
                </div>

            </div>
            <div *ngIf="name.invalid || cc.invalid || calendar.invalid " class="alert alert-danger">
                <div>
                    Todos Los campos son necesarios
                </div>
            </div>

            <div *ngIf="name.valid   && cc.valid  && calendar.valid">
                <button (click)="update()" [routerLink]="['/Equipos']" type="button"
                    class="btn btn-primary">Actualizar</button>
                <button [routerLink]="['/Equipos']" type="button" class="btn btn-primary"
                    style="margin-left: 1rem">Cancelar</button>
            </div>

            <!-- </form> -->

        </blockquote>
    </div>
</div>