<div *ngIf="screen==false" class="card background">
  <div class="card-header">
    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <a class="btn btn-primary" data-toggle="modal" data-target="#myModalCreate" style="color: cornsilk">Registrar
            torneos</a>
        </div>
        <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
      </div>
    </form>
  </div>
  <div class="card-body square">
    <blockquote class="blockquote mb-0">

      <div class="alert alert-warning" role="alert" *ngIf="torneos.length == 0">
        no existe información relacionada
      </div>


      <div *ngIf="torneos.length > 0 ">
        <div style="text-align: center;font-size: xx-large">
          <b>TORNEOS</b>
        </div>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Descripción</th>
              <th style="text-align: center" scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let torneo of torneos | filter:filterPost">
              <th>{{torneo.nombre}}</th>
              <td>{{torneo.descripcion}}</td>

              <td><a href="/Fixture/{{torneo.codigo}}" class="btn btn-success btn-lg" style="margin-right: 1rem"><i
                    class="fas fa-futbol"></i>Fixture</a>
                <a href="/tabla-posiciones/{{torneo.codigo}}" class="btn btn-success btn-lg"
                  style="margin-right: 1rem"><i class="fas fa-futbol"></i>Tabla de posiciones</a>

                <a (click)="showPopupUpdate(torneo)" class="btn btn-primary btn-lg"
                  style="margin-right: 1rem ; color: cornsilk" data-toggle="modal" data-target="#myModalUpdate"><i
                    class="fas fa-edit"></i></a>
                <button (click)="showPopup(torneo)" type="button" style="margin-right: 1rem"
                  class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal"><i
                    class="fas fa-trash-alt"></i></button>
                <a href="/resultado/{{torneo.codigo}}" class="btn btn-warning btn-lg" style="margin-right: 1rem"><i
                    class="far fa-calendar-alt"></i> Resultados</a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </blockquote>
  </div>
</div>



<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Eliminar</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        ¿Está seguro que desea eliminar la información?

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button (click)="delete()" type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
      </div>

    </div>
  </div>
</div>

<!-- The Modal update -->
<div class="modal fade" id="myModalUpdate">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header update -->
      <div class="modal-header">
        <h4 class="modal-title">Actualizar datos</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <!-- Modal body update-->
      <div class="modal-body">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Nombre del torneo</label>
          <input type="text" minlength="3" required [(ngModel)]="torneo.nombre" class="form-control" id="name"
            name="name" #name="ngModel" placeholder="nombre">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">descripción</label>
          <input type="text" minlength="5" required [(ngModel)]="torneo.descripcion" class="form-control"
            id="descripcion" name="descripcion" #descripcion="ngModel" placeholder="descripcion">
        </div>

      </div>
      <div *ngIf="name.invalid || descripcion.invalid" class="alert alert-danger">
        <div>
          Todos Los campos son necesarios
        </div>
      </div>

      <div *ngIf="name.valid && descripcion.valid">
        <div class="modal-footer">
          <button (click)="update()" type="button" class="btn btn-primary" data-dismiss="modal">Atualizar</button>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- The Modal create -->
<div class="modal fade" id="myModalCreate">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header create -->
      <div class="modal-header">
        <h4 class="modal-title">Registrar torneo</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <!-- Modal body create-->
      <div class="card">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Favor diligenciar el formulario</p>
            <!-- <form> -->
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Nombre del torneo</label>
                <input type="text" minlength="3" required [(ngModel)]="torneoCreate.nombre" class="form-control"
                  id="nameCreate" name="nameCreate" #nameCreate="ngModel" placeholder="nombre">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">descripción</label>
                <input type="text" minlength="5" required [(ngModel)]="torneoCreate.descripcion" class="form-control"
                  id="descripcioncreate" name="descripcioncreate" #descripcioncreate="ngModel"
                  placeholder="descripción">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Deporte asociado</label>
                <select class="form-control" [(ngModel)]="idDeporte" placeholder="id Deporte" required id="deporte"
                  name="deporte" #deporte="ngModel">
                  <option *ngFor="let deporte of deportes" value="{{deporte.codigo}}" selected>{{deporte.nombre}}
                  </option>
                </select>
              </div>

            </div>
            <div *ngIf="nameCreate.invalid || descripcioncreate.invalid" class="alert alert-danger">
              <div>
                Todos Los campos son necesarios
              </div>
            </div>

            <div *ngIf="nameCreate.valid && descripcioncreate.valid">
              <button (click)="registrar()" type="button" class="btn btn-primary"
                data-dismiss="modal">Registrar</button>
            </div>

            <!-- </form> -->

          </blockquote>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- responsive para celulares -->
<div style="justify-content: center" *ngIf="screen==true">
  <div class="card background ">
    <div class="card-header">
      <form class="form-inline">
        <div class="input-group">
          <div class="input-group-prepend">
            <a class="btn btn-primary" data-toggle="modal" data-target="#myModalCreate"
              style="color: cornsilk">Registrar torneos</a>
          </div>
          <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
        </div>
      </form>
    </div>
    <div style="text-align: center" class="alert alert-warning" role="alert" *ngIf="torneos.length == 0">
      no existe información relacionada
    </div>
    <div *ngIf="torneos.length > 0">
      <div *ngFor="let torneo of torneos | filter:filterPost" class="card"
        style="width: auto; text-align: center;margin: 2rem">
        <div class="card-body">
          <table>
            <tbody>
              <th>
                <div style="text-transform: uppercase;font-size: xx-large" class="card-title">
                  {{torneo.nombre}}
                </div>
              </th>
              <th style="width: 20%">
                <a href="/resultado/{{torneo.codigo}}" class="btn btn-warning" style="margin-right: 1rem"><i
                    class="fas fa-poll-h"></i></a>
              </th>
            </tbody>
          </table>

          <p><b>Descripción:</b> {{torneo.descripcion}}</p>
          <a href="/Fixture/{{torneo.codigo}}" class="btn btn-secondary" style="margin-right: 1rem"><i
              class="far fa-calendar-alt"></i></a>
          <a href="/tabla-posiciones/{{torneo.codigo}}" class="btn btn-success" style="margin-right: 1rem"><i
              class="fas fa-network-wired"></i></a>

          <a (click)="showPopupUpdate(torneo)" class="btn btn-primary" style="margin-right: 1rem ; color: cornsilk"
            data-toggle="modal" data-target="#myModalUpdate"><i class="fas fa-edit"></i></a>
          <button (click)="showPopup(torneo)" type="button" style="margin-right: 1rem" class="btn btn-danger"
            data-toggle="modal" data-target="#myModal"><i class="fas fa-trash-alt"></i></button>

        </div>
      </div>
    </div>
  </div>